export AIGEN_ENV=dev
export CSRF_KEY=57267b64134be214d159ff717835be816fef260116aff98701b222fd04143ed586f77273b1ccc1172e7a6f47fc9e76b8ebe2585151d1162041abf8a82e115a10
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PORT=6500
export POSTGRES_USER=admin
export POSTGRES_PASSWORD=password123
export POSTGRES_DB=rust_hs256

export DATABASE_URL=postgresql://admin:password123@localhost:6500/rust_hs256?schema=public

export PGADMIN_DEFAULT_EMAIL=admin@admin.com
export PGADMIN_DEFAULT_PASSWORD=password123

export JWT_SECRET=my_ultra_secure_secret
export JWT_EXPIRED_IN=60m
export JWT_MAXAGE=60