target
web
data
configuration/archives
new
images
python
log
.data
.ai-data
/cli/cert/gen.crt
server/cert/ionos.crt
server/cert/ionos.key
libtorch
docker.key
convert.py
images/
norm.rs
archives
.envrc_back
final*
