UNet2DContionModelConfig (
  blocks: [
    (
      out_channels: 320,
      use_cross_attn: true,
      attention_head_dim: 5
    ),
    (
      out_channels: 640,
      use_cross_attn: true,
      attention_head_dim: 10
    ),
    (
      out_channels: 1280,
      use_cross_attn: true,
      attention_head_dim: 20
    ),
    (
      out_channels: 1280,
      use_cross_attn: false,
      attention_head_dim: 20
    )
  ],
  center_input_sample: false,
  cross_attention_dim: 1024,
  downsample_padding: 1,
  flip_sin_to_cos: true,
  freq_shift: 0.,
  layers_per_block: 2,
  mid_block_scale_factor: 1.,
  norm_eps: 0.00005,
  norm_num_groups: 32,
  sliced_attention_size: None,
  use_linear_projection: true
)
